## Python Operators
Operators are used to perform operations on variables and values.

Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [ ]:
### Arithmetic Operator
a+b # addition
a-b #subtraction
a*b #multiplication
a/b #division
a//b # floor division. removes the decimal
a**b  # exponential 
a%b # modular arithmetic. gives the remainder of the calculation

In [1]:
5%2

1

### Python Assignment OperatorsAssignment operators are used to assign values to variables:
Assignment operators are used to assign values to variables:
Operator
 =	x = 5	x = 5	
+=	x += 3	x = x + 3	
-=	x -= 3	x = x - 3	
*=	x *= 3	x = x * 3	
/=	x /= 3	x = x / 3	
%=	x %= 3	x = x % 3	
//=	x //= 3	x = x // 3	
**=	x **= 3	x = x ** 3	
&=	x &= 3	x = x & 3	
|=	x |= 3	x = x | 3	
^=	x ^= 3	x = x ^ 3	
>>=	x >>= 3	x = x >> 3	
<<=	x <<= 3	x = x << 3

### Python Comparison Operators
Comparison operators are used to compare two values:
Operator	Name	Example	
==	Equal	x == y	
!=	Not equal	x != y	
>	Greater than	x > y	
<	Less than	x < y	
>=	Greater than or equal to	x >= y	
<=	Less than or equal to	x <= y

### Python Logical Operators
Logical operators are used to combine conditional statements:

Operator	Description	Example	
* and 	Returns True if both statements are true	x < 5 and  x < 10	
* or	Returns True if one of the statements is true	x < 5 or x < 4	
* not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)

### Python Identity Operators
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

Operator	Description	Example	Try it
* is 	Returns True if both variables are the same object	x is y	
* is not	Returns True if both variables are not the same object	x is not y

### Python Membership Operators
Membership operators are used to test if a sequence is present in an object:

Operator	Description	Example	Try it
* in 	Returns True if a sequence with the specified value is present in the object	x in y	
* not in	Returns True if a sequence with the specified value is not present in the object

### Variables
Variables are containers for storing data values.

Creating Variables

Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [2]:
# Using Variables: variables are used by assigning them to a value
pi = 3.141
name = "John"
print(name)

John

In [3]:
print(pi)

3.141

In [5]:
# Casting a data type to a variable
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x)

3

In [ ]:
#You can get the data type of a variable with the type() function.
#Getting the data type of a variable
x = 5
y = "John"
print(type(x))
print(type(y))

In [ ]:
# Use of single or double quotes on strings
x = "John"
# is the same as
x = 'John'

In [ ]:
# Case-Sensitive
#Variable names are case-sensitive.
a = 4
A = "Sally"
#A will not overwrite a

In [9]:
# Many Values to Multiple Variables
#Python allows you to assign values to multiple variables in one line:
x, y, z = "Orange", "Banana", "pear"
print(x)
print(y)
print(z)
#Make sure the number of variables matches the number of values, or else you will get an error.

Orange
Banana
pear

In [10]:
#One Value to Multiple Variables
#And you can assign the same value to multiple variables in one line:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [11]:
# Output Variables
#The Python print() function is often used to output variables.
x = "Python is awesome"
print(x)
#In the print() function, you output multiple variables, separated by a comma:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome
Python is awesome

In [12]:
#You can also use the + operator to output multiple variables:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)
#Notice the space character after "Python " and "is ", without them the result would be "Pythonisawesome".

Python is awesome

#In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:
x = 5
y = "John"
print(x + y)
The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:
x = 5
y = "John"
print(x, y)

In [ ]:
### Global Variables
Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.